<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>${APP_DISPLAY_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>Automated</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Our app uses bluetooth to find, connect and transfer data between different devices</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Our app uses the data provided by HealthKit to monitor activity during use</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Our app uses the data provided by HealthKit to monitor activity during use</string>
	<key>NSLocationUsageDescription</key>
	<string>Our app uses the location data to monitor activity during use</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Our app uses the location data to monitor activity during use</string>
	<key>NSMotionUsageDescription</key>
	<string>$(PRODUCT_NAME) needs permission to read the sensors.</string>
	<key>OSLogPreferences</key>
	<dict>
		<key>com.example.apple-samplecode.PrivateValueLogger</key>
		<dict>
			<key>app</key>
			<dict>
				<key>Enable-Private-Data</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>location</string>
		<string>processing</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>WKApplication</key>
	<true/>
	<key>WKBackgroundModes</key>
	<array>
		<string>physical-therapy</string>
		<string>workout-processing</string>
	</array>
	<key>WKCompanionAppBundleIdentifier</key>
	<string>$(WK_COMPANION_APP_BUNDLE_IDENTIFIER)</string>
	<key>SENTRY_DSN</key>
	<string>$(SENTRY_DSN)</string>
	<key>SENTRY_ENVIRONMENT</key>
	<string>$(SENTRY_ENVIRONMENT)</string>
	<key>WKRunsIndependentlyOfCompanionApp</key>
	<true/>
</dict>
</plist>
