<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUoTmi2SQyt0gvu7fs173swmP8whC-bxM</string>
	<key>GCM_SENDER_ID</key>
	<string>377968343758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AtlastLiftTech.MobilityLab.iOS.prod</string>
	<key>PROJECT_ID</key>
	<string>mobility-lab-d1cbc</string>
	<key>STORAGE_BUCKET</key>
	<string>mobility-lab-d1cbc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377968343758:ios:07b275c0120b72ec96ee9f</string>
</dict>
</plist>