<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYPh-gee6Sg8-lYVO8GzjQZYaayU1IuV0</string>
	<key>GCM_SENDER_ID</key>
	<string>41148610613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AtlastLiftTech.SensorSuite.iOS.SensorSuiteEMD.prod</string>
	<key>PROJECT_ID</key>
	<string>sensorsuite-umm</string>
	<key>STORAGE_BUCKET</key>
	<string>sensorsuite-umm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41148610613:ios:0e63c7f7afddc3189b197c</string>
</dict>
</plist>